################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SoftwareSuite/FileContentIndex
/.vs/SoftwareSuite
/packages
/SoftwareSuite/obj/Debug
/SoftwareSuite/Connectionlogfilepath 12Nov2024.txt
/SoftwareSuite/bin/de
/SoftwareSuite/bin/roslyn
/SoftwareSuite/bin
